<!-- estos bloques de html solo contienen las etiquetas de los elementos y el id que bindeará con el querySelector del archivo js del componente. -->
<!-- como veis no hay etiquetas html ni body porque este codigo se va a inyectar con una funcion appendChild al elemento html que se haya bindeado con el componente -->
<!-- no se si esto es demasiado rebuscado o poco optimizado... pero al querer desarrollar este mini-proyecto exclusivamente en javascript, así ha salido. -->
<div class="menu-wrap">
  <input type="checkbox" class="toggler" />
  <div class="hamburger"><div></div></div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<header class="showcase">
  <div class="container showcase-inner">
    <h1>Welcome</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid a, totam
      rerum eius reprehenderit veritatis eos earum amet necessitatibus iste,
      consequatur corporis provident. Illum architecto optio repellendus nisi
      quo quas?
    </p>
    <a href="#" class="btn">Read More</a>
  </div>
</header>
