<!-- estos bloques de html solo contienen las etiquetas de los elementos y el id que bindeará con el querySelector del archivo js del componente. -->
<!-- como veis no hay etiquetas html ni body porque este codigo se va a inyectar con una funcion appendChild al elemento html que se haya bindeado con el componente -->
<!-- no se si esto es demasiado rebuscado o poco optimizado... pero al querer desarrollar este mini-proyecto exclusivamente en javascript, así ha salido. -->
<div class="menu-wrap">
  <input type="checkbox" class="toggler" />
  <div class="hamburger"><div></div></div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/src/views/pages/how-it-is-made.html">The applications</a></li>
          <li><a href="/src/views/pages/jokes.html">JOKES App</a></li>
          <li><a href="/src/views/pages/about-me.html">About me</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
