<main class="showcase">
    <div class="container showcase-inner">
      <h1>Welcome!</h1>
      <p>This is a full-Javascript app that I made from scratch.</p>
      <p><br>But first of all... Hi, <br><br> my name is <strong>Mario Burgos</strong>  and this is an application that I designed to be <strong>component-featured</strong> and developed using only Javascript. 
          <br><br> If you are interested on how my brain came up with the application's structure or want to know something else about myself, then I recommend you to navigate to the <strong>TOP-LEFT</strong> menu and find out by yourself :D
      <br><br>ENJOY!</p>
      <a href="#" class="btn">Get a Dad Joke</a>
    </div>
</main>