<section class="jokes-section">
  <h3>Thanks to canihazdadjoke.com</h3>
  <div class="jokes-screen">
    <div id="joke-value"></div>
   <small>Coded from scratch by Mario Burgos</small>
  </div>
  <div class="button-row"> <button id="btn-dislike" class="btn">
          <i class="bi bi-hand-thumbs-down-fill"></i>
        </button>
    <div class="control-buttons">
      <button id="btn-ranking" class="btn">TOP 10</button>
      <button id="btn-new-joke" class="btn">New Joke!</button>
  </div><button id="btn-like" class="btn">
          <i class="bi bi-hand-thumbs-up-fill"></i>
        </button>
  </div>
  
</section>
